/* .description-body {
  margin: auto;
  background-image: url(./forestblur.jpg);
  background-repeat: no-repeat;
  background-size: cover;

} */
.description-body {
  height: 100%;
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./forest.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 90%;
}
.heroText {
  color: white;
  margin-left: 2%;
  text-align: left;
  padding: 3em;
  position: relative;
}
.appy {
  padding: 3em;
  margin: 2%;
  height: auto;
  border-radius: 18px;
  margin-right: 9%;
  width: 40%;
  align-self: center;
}
.img-1{
  top: 66%;
  position: fixed;
  width: 40%;
  border-radius: 18px;
  border-radius: 18px;
  font-family: "Times New Roman", Times, serif;
}
 .des-img {
  padding: 3%; 
} 
.des-img1 {
  padding: 3%;
  height: 20%
} 
.button {
  scroll-behavior: smooth;
  overflow-anchor: inherit;
  position: absolute;
  top: 99%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 18px;
}
.three3 {
  overflow-anchor: relative;
  padding: 3em;
  margin: 2%;
  height: auto;
  border-radius: 18px;
  margin-right: 9%;
  width: 40%;
  background-color: whitesmoke;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 255, 0.2);
  padding: 3em;
  margin: 3em;
  height: auto;
  border-radius: 18px;
  width: 40%;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 255, 0.2);
}
.four4{
  overflow-anchor: relative;
  padding: 3em;
  margin: 2%;
  height: auto;
  border-radius: 18px;
  margin-left: 11%;
  width: 40%;
  background-color: whitesmoke;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 255, 0.2);
}
.three {
  overflow-anchor: relative;
  padding: 3em;
  margin: 2%;
  height: auto;
  border-radius: 18px;
  margin-right: 9%;
  width: 40%;
  background-color: whitesmoke;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 255, 0.2);
}

.four {
  overflow-anchor: relative;
  margin: 3em;
  height: auto;
  border-radius: 18px;
  width: 40%;
  margin-left: 5%;
  background-color: whitesmoke;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 255, 0.2);
}

.five {
  
  overflow-anchor: relative;
  padding: 3em;
  text-align: center;
  margin: 2%;
  height: auto;
  border-radius: 18px;
  background-color: whitesmoke;
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 255, 0.2);
  font-family: "Times New Roman", Times, serif;
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 255, 0.2);
}
