.f1{
    padding: 20px;
    background-color:#ffe7d1;
    width:60%;
    margin: auto;
    justify-content: space-between;
    border-radius: 7px;

}
.look{
   margin: 50px;
}
.new{
    float: right ;
}
