.App {
  background-color: #ffe7d1;
  padding: 20px;
  margin: auto;
  align-content: center;
  text-align: center;
  width: 80%;
}
/* .des-img {
  padding: 3em;
  margin: 3em;
} */

.one {
  padding: 3em;

  margin: 3em;
  height: auto;
  border-radius: 18px;
  width: 40%;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 255, 0.2);
}
.two {
  padding: 3em;
  margin: 3em;
  height: auto;

  border-radius: 18px;
  width: 40%;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 255, 0.2);
}
.des-img {
  padding: 8%;
}

.three {
  padding: 3em;
  margin: 3em;
  height: auto;
  border-radius: 18px;
  width: 40%;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 255, 0.2);
}
.four {
  padding: 3em;
  margin: 3em;
  height: auto;
  border-radius: 18px;
  width: 40%;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 255, 0.2);
}
.five {
  padding: 3em;
  margin: 3em;
  height: auto;
  border-radius: 18px;
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 255, 0.2);
  font-family: "Times New Roman", Times, serif;
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 255, 0.2);
}
